
body, html {
    font-family: "HelveticaNeue-Light";
    margin: 0;
    padding: 0;
    height: 100%;
}

#battery-color {
    width: 0;
    height: 100%;
    position: absolute;
    display: inline-block;
    z-index: -1;
    transition: 1s;
}

#battery-health {
    display: inline-block;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 3em;
}

#battery-health i {
    margin-top: 10%;
    color: #5D9CEC;
}

#message {
    display: inline-block;
    color: white;
    font-size: 90%;
    text-align: center;
    width: 85%;
    margin-top: 3%;
}

.fa-refresh {
    color: #F5F7FA;
}