
body, html {
    font-family: 'Helvetica Neue';
    margin: 0;
    padding: 0;
    height: 100%;
}

#battery-color {
    width: 0;
    height: 100%;
    position: absolute;
    display: inline-block;
    z-index: -1;
    transition: 1s;
}

#battery-health {
    display: inline-block;
    color: white;
    width: 100%;
    text-align: center;
    font-size: 3em;
}

#battery-health i {
    margin-top: 10%;
    color: #5D9CEC;
}

#message {
    color: white;
    font-size: 90%;
    text-align: center;
    width: 100%;
    margin-top: 3%;
}