
body, html {
    font-family: Avenir, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #34495e;
}

#status {
  text-align: center;
  height: 4em;
}

#status i {
  margin-top: .5em;
  font-size: 3em;
  color: white;
}

#battery-health {
  font-size: 3em;
  color: #ecf0f1;
}

#battery-message {
  color: #ecf0f1;
}