
body, html {
    font-family: Avenir, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #34495e;
}

#content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: stretch;
}

#status {
  text-align: center;
}

#status i {
  margin-top: .5em;
  font-size: 3em;
  color: white;
}

#battery-health {
  font-size: 3em;
  color: #ecf0f1;
}

#battery-message {
  color: #ecf0f1;
  text-align: center;
}

#buttons {
  position: absolute;
}

.button {
  display: inline-block;
  background-color: orangered;
  margin: .3em;
  margin-left: .6em;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}

.button:hover {
  opacity: .5;
}
